<div class="background">
  <div class="container main-container">
    <div class="row text-center">

      <div *ngFor="let produto of produtos" class="col-md-4" style="padding-bottom: 30px;">
        <div class="card h-100">
          <a class="text-decoration-none">
            <div style="align-content:center; padding-top: 20px;">
              <img src="assets/images/{{ produto.imagem }}" height="150px" width="150px" alt="">
            </div>
          </a>

          <h4 class="card-title">{{ produto.nome | titlecase }}</h4>

          <div [ngSwitch]="produto.promocao">
            <p *ngSwitchCase="true">Promoção</p>
            <p *ngSwitchCase="false">Por apenas:</p>

          </div>

          <div *ngIf="produto.promocao" class="card-body">
            <div>
              <h4 class="card-text">De:
                <small><del>{{ produto.valor | currency:'BRL':symbol:'1.2-2':'pt'}}</del></small>
                Por: {{ produto.valorPromo | currency:'BRL':symbol:'1.2-2':'pt'}}
              </h4>
            </div>
          </div>

          <div *ngIf="!produto.promocao" class="card-body">
            <div>
              <h4>{{ produto.valor | currency:'BRL':symbol:'1.2-2':'pt' }}</h4>
              <p>Frete Grátis!</p>
            </div>
          </div>
          <div class="card-footer">
            <a class="btn btn-info">
              <span class="fas fa-shopping-cart"></span> Comprar
            </a>
          </div>
        </div>
      </div>
    </div>

    <nav aria-label="Navegação">
      <ul class="pagination justify-content-end">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Anterior</a>
        </li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">...</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Próximo</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

