<div class="background1">
<header class="bg-dark py-3">
  <div class="container h-100">
    <div class="row align-items-start">
      <div class="col-lg-4 py-4">
        <img src="assets/images/microsoft-logo1.png" alt="LogoLoja" width="150" height="150">
      </div>
      <div class="col">
        <h1 class="display-4 text-white">TechTudo Informática</h1>
        <p class="lead text-white">Seja bem vindo a nossa loja online de acessórios para o seu Setup!</p>
      </div>
    </div>
  </div>
</header>
<nav class="navbar navbar-expand-lg text-white navbar-light bg-light ml-auto mr-auto">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-5">
      <li class="nav-item ml-5">
        <a class="nav-link ml-5" href="#">Mouses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Teclados</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">HeadSets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Monitores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">MousePads</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Câmeras</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Monitores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Notebooks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Celulares</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Placa de vídeo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Placa Mãe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Memórias</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mt-2 ml-auto mr-sm-2" type="search" placeholder="Pesquisar Produtos" aria-label="Pesquisar">
      <button class="btn btn-outline-info  mt-2 py-2" type="submit">Pesquisar</button>
    </form>
  </div>
</nav>

<div class="container main-container">
  <div class="row text-center">
    <div class="col-lg-3 col-md-6 mb-5">
      <div class="card h-100 text-white bg-dark">
        <img class="card-img-top" height="250px" src="assets/images/funcionarios.jpg">
        <div class="card-body">
          <h4 class="card-title" text-align="align-items-center">Equipe Capacitada</h4>
          <p>Nossa equipe está sempre preparada para melhor te atender!</p>
          <div class="row justify-content-center">
            <button class="btn btn-light" type="submit">SAIBA MAIS</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-5">
      <div class="card h-100 text-white bg-dark">
        <img alt="" class="card-img-top" height="250px" src="assets/images/velocidade.jpg">
        <div class="card-body ">
          <h4 class="card-title" text-align="align-items-center">Velocidade de entrega</h4>
          <p class="card-text">Entregas realizadas sempre com muita rapidez para melhor te atender!</p>
          <div class="row justify-content-center">
            <button class="btn btn-light" type="submit">SAIBA MAIS</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-5">
      <div class="card h-100 text-white bg-dark">
        <img class="card-img-top" height="250px" src="assets/images/multiplataforma.jpg">
        <div class="card-body">
          <h4 class="card-title" text-align="align-items-center">Multiplataforma</h4>
          <p class="card-text">Temos um app que pode ser baixado em todas as plataformas disponíveis, para melhorar
            ainda mais a sua experiência</p>
          <div class="row justify-content-center">
            <button class="btn btn-light" type="submit">SAIBA MAIS</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-5">
      <div class="card h-100 text-white bg-dark">
        <img class="card-img-top" height="250px" src="assets/images/pagamento.jpg">
        <div class="card-body">
          <h4 class="card-title" text-align="align-items-center">Pagamentos</h4>
          <p class="card-text">Aceitamos todos os tipos de pagamentos, facilitando ainda mais a sua compra e confiança
            conosco!</p>
          <div class="row justify-content-center">
            <button class="btn btn-light" type="submit">SAIBA MAIS</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

