<div class="bg-light">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h1 class="display-4">Quem somos</h1>
                <p class="lead text-muted mb-0">Somos uma empresa com o objetivo de fazer com que a sua experiência de
                    compras, seja a melhor possível.</p>
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img
                    src="assets/images/equipe1.jpg" alt=""
                    class="img-fluid"></div>
        </div>
    </div>
</div>

<div class="bg-white py-5">
    <div class="container py-5">
        <div class="row align-items-center mb-5">
            <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">Atendimento 24 Horas</h2>
                <p class="font-italic text-muted mb-4">A nossa equipe de atendimento está ativa 24 horas por dia.</p><a
                    href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Leia Mais</a>
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img
                    src="assets/images/relogio.jpg" alt=""
                    class="img-fluid mb-4 mb-lg-0"></div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5 px-5 mx-auto"><img
                    src="assets/images/pagamento1.jpg" alt=""
                    class="img-fluid mb-4 mb-lg-0"></div>
            <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">Facilitamos todo tipo de pagamento.</h2>
                <p class="font-italic text-muted mb-4">Com parcelamentos em até 12 vezes, aceitamos qualquer cartão e de
                    qualquer bandeira.
                </p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Leia mais</a>
            </div>
        </div>
    </div>
</div>

<div class="bg-light py-5">
    <div class="container py-5">
        <div class="row mb-4">
            <div class="col-lg-5">
                <h2 class="display-4 font-weight-light">Nossa Equipe</h2>
                <p class="font-italic text-muted">Conheça um pouco mais os nossos Executivos!</p>
            </div>
        </div>

        <div class="row text-center">
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://cloudinary-res.cloudinary.com/image/upload/z_0.7,c_thumb,g_face,w_145,h_145,r_max/l_light_bulb,w_50,h_50,e_make_transparent:10,g_north_east,y_3/dpr_auto,f_auto/profile_neta_agmon.jpg" alt=""
                        width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Analine Silva</h5><span class="small text-uppercase text-muted">CEO -
                        Fundadora</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="far fa-share-square"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fas fa-envelope"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fas fa-thumbs-up"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-chrome"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://cloudinary-res.cloudinary.com/image/upload/z_0.75,c_thumb,g_face,w_145,h_145,r_max/e_oil_paint:15/l_text:Mr%20De%20Haviland_20:Maor%20G,g_east/dpr_auto,f_auto/profile_maor_gariv.jpg" alt=""
                        width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Samuel Souza</h5><span class="small text-uppercase text-muted">Executivo de
                        Vendas</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="far fa-share-square"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fas fa-envelope"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fas fa-thumbs-up"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-chrome"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://cloudinary-res.cloudinary.com/image/upload/dpr_auto,w_145,h_145,c_thumb,g_face/w_0.85,h_1.0,c_crop/r_30,e_saturation:40/c_pad,w_145,h_145,f_auto/profile_tal_lev_ami.jpg" alt=""
                        width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Jonas Silveira</h5><span class="small text-uppercase text-muted">Diretor de Vendas
                    </span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="far fa-share-square"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fas fa-envelope"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fas fa-thumbs-up"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-chrome"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://cloudinary-res.cloudinary.com/image/upload/l_profile_nadav_ofir,w_0.5,h_0.5,c_crop,g_north_east,e_grayscale/fl_layer_apply,g_north_east/l_profile_nadav_ofir,w_0.5,h_0.5,c_crop,g_south_west,e_grayscale/fl_layer_apply,g_south_west/h_0.6,w_0.6,c_crop,g_face/h_145,w_145,c_fill/r_max/dpr_auto,f_auto/profile_nadav_ofir.jpg" alt=""
                        width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Lucas Silva</h5><span class="small text-uppercase text-muted">Diretor de
                        Marketing</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="far fa-share-square"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fas fa-envelope"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fas fa-thumbs-up"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-chrome"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

        </div>
    </div>
</div>